.section-game{
   display: flex;
}

.div{
    height: 50px;
    width: 50px;
    border: 1px black solid;
    text-align: center;
    font-size: xx-large;
}

.btn-clear{
    background: none;
    margin-top: 1rem;
}

/* .div1{
    background-color: red;
} */